{% extends "base.html" %}
{% block content %}

<div class="dashboard">

<h2>Security Analytics Dashboard</h2>

<div class="cards">
<div class="card">Total Users<br><h1>120</h1></div>
<div class="card">Today's Logins<br><h1>54</h1></div>
<div class="card">OTP Success Rate<br><h1>98%</h1></div>
<div class="card">Blocked Attacks<br><h1>7</h1></div>
</div>

<div class="analytics">

<div class="chart-box">
<canvas id="barChart"></canvas>
</div>

<div class="chart-box">
<canvas id="pieChart"></canvas>
</div>

</div>

<a href="/login">Logout</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
new Chart(document.getElementById("barChart"),{
type:'bar',
data:{
labels:["Mon","Tue","Wed","Thu","Fri"],
datasets:[{
label:"Logins",
data:[20,30,40,55,60],
backgroundColor:"#00aaff"
}]
}
})

new Chart(document.getElementById("pieChart"),{
type:'pie',
data:{
labels:["Success","Failed"],
datasets:[{
data:[98,2],
backgroundColor:["green","red"]
}]
}
})
</script>

{% endblock %}
